
services:
  sftp:
    build:
      context: ./
      dockerfile: ./SftpServerDockerFile
    image: sftp-server:1.0
    container_name: sftp-server
    working_dir: /collector-input
    ports:
      - "22:22"  # Map host port 22 to container port 22
    volumes:
      - collector-input:/collector-input
      - staros-config:/staros-config
    restart: always
    command: >
      sh -c "
        chown -R telemetry:telemetry /collector-input && 
        chown -R telemetry:telemetry /staros-config
      "

volumes:
  collector-input:
    external: true
  staros-config:
    external: true
